<div class="row col-md-12">
  <div class="col-md-3">
    <div id="bar">
      <img id="logo" src="assets/images/logo.svg" alt="" />
      <div class="input-group">
        <input
          #searchInput
          type="text"
          class="form-control"
          placeholder="Search for a place..."
        />
        <span class="input-group-btn">
          <button id="search-button" (click)="onSearch()" type="button">
            <img id="search-icon" src="assets/images/search.png" alt="" />
          </button>
        </span>
      </div>
    </div>
    <div id="weather-icon">
      <img
        [ngClass]="{
          animate__animated: weatherData.animate,
          animate__slideInLeft: weatherData.animate,
          animate__slower: weatherData.animate
        }"
        src="assets/images/icons/{{ weatherData.weatherCode }}.png"
      />
    </div>
    <div id="weather-info">
      <h1>{{ weatherData.temperature }}°</h1>
      <h2>{{ formatDateTime(weatherData.time) }}</h2>
    </div>
    <div id="line"></div>
    <div id="weather-status">
      <div>
        <img src="assets/images/icons/{{ weatherData.weatherCode }}.png" />
        <h1>{{ weatherData.weatherCondition }}</h1>
      </div>
      <div>
        <img src="assets/images/icons/heavy-rain.png" />
        <h1>Rain {{ weatherData.precipitationProbability }}%</h1>
      </div>
    </div>
    <div id="line"></div>
    <div id="location">
      <h1>{{ formatLocation(weatherData.name) }}</h1>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row justify-content-between" id="forecast">
      <h2>This Week</h2>
      <div class="forecast-card col" *ngFor="let forecast of forecastData">
        <h3>{{ getDayOfWeek(forecast.time) }}</h3>
        <img src="assets/images/icons/{{ forecast.weatherCode }}.png" />
        <h3>{{ forecast.temperature }}°</h3>
      </div>
    </div>
    <div *ngIf="isSmall" id="line"></div>
    <div id="today">
      <div class="row">
        <h2>Today's Highlights</h2>
        <div class="col-md-4">
          <div class="card">
            <div class="card-top">
              <h5 class="card-title">UV Index</h5>
              <img src="assets/images/icons/uv.png" alt="" />
            </div>
            <p class="card-text">
              {{ weatherData.uvIndex }}
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-top">
              <h5 class="card-title">Humidity</h5>
              <img src="assets/images/icons/humidity.png" alt="" />
            </div>
            <p class="card-text">{{ weatherData.humidity }}%</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-top">
              <h5 class="card-title">Visibility</h5>
              <img src="assets/images/icons/eye.png" alt="" />
            </div>
            <p class="card-text">{{ weatherData.visibility }} km</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-top">
              <h5 class="card-title">Wind Speed</h5>
              <img src="assets/images/icons/wind.png" alt="" />
            </div>
            <p class="card-text">{{ weatherData.windSpeed }} km/h</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-top">
              <h5 class="card-title">Wind Direction</h5>
              <img src="assets/images/icons/direction.png" alt="" />
            </div>
            <p class="card-text">
              {{ getWindDirection(weatherData.windDirection) }}
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-top">
              <h5 class="card-title">Cloud Cover</h5>
              <img src="assets/images/icons/cloud.png" alt="" />
            </div>
            <p class="card-text">{{ weatherData.cloudCover }}%</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
